/* @import "tailwindcss/components"; */
@import "tailwindcss/utilities";

.details-panel {
  interpolate-size: allow-keywords;
  overflow: hidden;
  height: auto;
  transition:
    height 0.25s ease,
    display 0.25s allow-discrete;
}

.details-panel[hidden] {
  display: none;
  height: 0;
}

@starting-style {
  .details-panel:not([hidden]) {
    height: 0;
  }
}
