:root {
  --light-blue-bg: #e7ebf3;
  --med-blue: #586786;
  --navy: #11104d;
  --white: #fff;
}

html,
body {
  height: 100%;
  background-color: var(--light-blue-bg);
}
body {
  font-family: Arial;
  padding: 30px 15px 15px;
  text-align: center;
  color: var(--med-blue);
}
section {
  max-width: 400px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  color: var(--navy);
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
ul,
li {
  all: unset;
  display: block;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#stats {
  text-align: left;
  border-radius: 8px;
  padding: 15px;
  background: #fff;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
#stats p {
  margin-bottom: 0.5rem;
}
#stats .small {
  font-size: 0.8rem;
  color: #999;
}
#stats p:last-child {
  margin-bottom: 0;
}
ul {
  margin-bottom: 2rem;
}
p.desc {
  font-size: 0.75rem;
  margin-bottom: 0.6rem;
  padding: 0 15px;
  line-height: 1.3;
  text-wrap: balance;
}

a,
button {
  all: unset;
  box-sizing: border-box;
  padding: 15px 10px;
  width: 100%;
  border-radius: 8px;
  line-height: 1;
  display: block;
  margin-bottom: 0.5em;
  cursor: pointer;
  background: #fff;
}
