:root {
  --light-blue: #e7ebf3;
  --med-blue: #586786;
  --navy: #11104d;
  --white: #fff;
}

html,
body {
  background-color: var(--light-blue);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: Arial;
  color: var(--med-blue);
  margin-bottom: 15px;
}
section {
  max-width: 400px;
  margin: 0 auto;
}
ul,
li {
  all: unset;
  display: block;
}
a,
button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}
